@{
    ViewBag.Title = "Home Page";
}
<section class="home">
    <div style="margin-top:100px; margin-left:100px" class="content">
        <a style="background-color:red;" href="@Url.Action("product","Home")" class="btn btn-primary px-5 py-4">Press To Order</a>
    </div>
</section>







